header{
    position: relative;
    width: 100%;
    padding: 20px 8% 28px;
    background-image: url(../../assets/imgs/bg_header-elipse.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

:is(header) .icon.arrow{
    position: absolute;
    bottom: -40px;
    width: 80px;
    height: 80px;
    align-self: center;
    cursor: pointer;
    transform: rotate(90deg);
}

#navbar{
    z-index: 9999;
    position: fixed;
    max-width: 1920px;
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-self: center;
}

.logo{
    position: absolute;
    margin-left: 60px;
}

#nav-list{
    position: relative;
    background-color: #FFE29ECC;
    display: flex;
    width: clamp(800px, 825px);
    min-width: 800px;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    padding: 20px 30px;
    border-radius: 50px;
}

.nav-link{
    font-size: var(--fs-nav-links);
    font-weight: bold;
    color: var(--fg-nav-links);
    transition: border-bottom .1s ease;
}

.nav-link:hover{
    border-bottom: 3px solid var(--pink-star);
}

.nav-item{
    padding: 0 20px;
}

.nav-item.active .nav-link{
    color: var(--fg-active);
    border-bottom: 3px solid var(--pink-star);
}

#mobile_btn, #mobile_menu{
    display: none;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}

.head_text-box{
    width: 717px;
}

.header-title{
    text-align: center;
    font-family: 'Sigmar One', sans-serif;
    font-size: var(--fs-header-title);
    line-height: 1;
    color: var(--fg-header-title);
}

.header-description{
    margin-top: 18px;
    text-align: center;
    color: var(--fg-primary-text);
}

.head_star, .head_sofia{
    position: absolute;
}

.head_star{
    top: 150px;
    left: 80px;
    width: clamp(280px, 25.6% ,387px);
}

.head_sofia{
    top: 50px;
    right: -220px;
    width: clamp(500px, 55% ,828px);
}

.head-btns{
    display: flex;
    padding: 65px;
    justify-content: center;
}

:is(.head-btns) .btn-primary{
    margin-right: 20px;
}

#language-selection{
    position: absolute;
    right: 20px;
    align-self: center;
    height: 40px;
    border: none;
    background-color: #FFD778;
    color: #A68946;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
}