.icon{
    width: 60px;
    height: 60px;
}

.arrow{
    background: url(../../assets/imgs/arrow.svg) center / contain no-repeat;
}

.star{
    background: url(../../assets/imgs/star.svg) center / contain no-repeat;
}

.fa-solid.fa-bars, .fa-solid.fa-x{
    color: var(--soft-purple);
    width: 30px;
    font-size: 28px;
}

.little-girl{
    width: 18%;
    background: url(../../assets/imgs/little_girl.png) center / contain no-repeat;
}

.little-boy{
    width: 22%;
    background: url(../../assets/imgs/little_boy.png) center / contain no-repeat;
}

.sofia-butterfly{
    width: 22%;
    background: url(../../assets/imgs/sofia_butterfly.png) center / contain no-repeat;
}

.bg-clouds{
    position: relative;
    bottom: -50px;
    left: -95px;
    min-height: 600px;
    max-width: 1920px;
    width: 100vw;
    background: url(../../assets/imgs/clouds.png) center / cover no-repeat;
}

.cloud-left{
    position: relative;
    left: -260px;
    min-height: 200px;
    min-width: 402px;
    width: 50%;
    height: auto;
    background: url(../../assets/imgs/cloud.png) center / contain no-repeat;
}

.cloud-right{
    display: none;
    position: relative;
    margin-top: 40px;
    right: -10px;
    min-height: 160px;
    min-width: 402px;
    width: 50%;
    height: auto;
    background: url(../../assets/imgs/cloud.png) center / contain no-repeat;
}

.head_mobile{
    display: none;
    width: 650px;
    height: 500px;
    background: url(../../assets/imgs/head_mobile.png) center / contain no-repeat;
}

.little-girl_circle{
    display: none;
    height: 300px;
    width: 280px;
    background: url(../../assets/imgs/little_girl_circle.png) center / contain no-repeat;
}

.sofia-butterfly_mobile{
    display: none;
    width: 100vw;
}