@media screen and (max-width: 1700px) {
    .head_star{
        top: 150px;
        left: 20px;
    }
    
    .head_sofia{
        top: 100px;
        right: -300px;
    }
    
}

@media screen and (max-width: 1440px) {
    .head_star{
        top: 150px;
        left: -10px;
    }

    .header-title{
        font-size: 80px;
    }

    .header-description{
        font-size: 18px;
    }

    .head_text-box{
        width: 650px;
    }
    
}

@media screen and (max-width: 1390px) {
    #nav-list, :is(#navbar) .language-selection{
        display: none;
    }

    
    #mobile_btn{
        z-index: 9999;
        position: fixed;
        display: block;
        top: 14px;
        right: 10px;
        border: none;
        background-color: var(--soft-yellow);
        font-size: 1.5rem;
        cursor: pointer;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        align-items: center;
    }

    :is(#mobile_menu) .language-selection{
        top: 20px;
        margin-right: 40px;
    }

    #mobile_menu.active{
        z-index: 9998;
        top: 0;
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        background-color: var(--soft-yellow);
    }

    #mobile_nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin: 30px 0px;
        transition: display 0.3s ease;
    }

    .head_text-box{
        width: 640px;
    }

    .head_star{
        width: 280px;
    }
    
    .head_sofia{
        width: 600px;
        right: -280px;
    }
}

@media screen and (max-width: 1100px){
    body, section{
        max-width: 100% !important;
    }
    .head{
        flex-direction: column;

    }
    .head_mobile{
        display: block;
        margin-top: 40px;
    }

    .head_star, .head_sofia{
        display: none;
    }

    .head_text-box{
        width: 80%;
    }

    .title, .header-title, :is(#future) em{
        font-size: 48px;
    }

    :is(#about) .row.center{
        flex-direction: column;
    }

    :is(#about) .description{
        order: -1;
    }

    .cloud-left{
        margin-top: 60px;
    }

    :is(#proposal) .row{
        flex-direction: column;
    }

    :is(#proposal) .arrow{
        transform: rotate(90deg);
    }

    .card{
        margin: 40px;
    }

    .our-data{
        padding: 40px 20px;
    }

    :is(.our-data) .row.center.mb-60, .row.center{
        flex-direction: column;
    }

    #stars_cloud{
        order: -1;
    }

    .research-img{
        margin-bottom: 60px;
        width: 500px;
    }

    .research-item{
        width: 80%;
    }

    :is(#research) .col.w-50{
        padding-left: 0;
        width: 100%;
        align-items: center;
    }

    .the-vale{
        padding: 40px;
    }

    :is(.the-vale) .row:first-child{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    :is(.the-vale) .description{
        max-width: 100%;
        margin-top: 60px;
    }

    .bg-clouds{
        left: -50px;
        min-height: clamp(120px, 300px, 500px);
        background-size: cover;
        justify-content: space-around;
    }

    .little-girl{
        display: none;
    }
    
    .little-boy, .sofia-butterfly{
        width: 260px;
    }

    .head-btns{
        display: flex;
        padding: 65px 10px;
        justify-content: center;
    }

    #future{
        padding: 20px;
    }
    .pitch{
        width: 100%;
        height: 400px;
        margin-bottom: 40px;
    }

    :is(#future) .row.space-around{
        flex-direction: column;
    }

    :is(#future) .title{
        order: -1;
    }

}

@media screen and (max-width: 768px){
    /* body, section{
        max-width: 768px !important; 
    } */

    .research-img{
        width: 300px;
    }

    .head{
        margin-top: 80px;
    }

    .logo{
        margin-left: 10px;
        width: 80px;
        position: sticky;
    }
    .head_mobile{
        max-height: 400px;
        width: 100%;
        background-size: 100%;
    }

    .the-vale{
        overflow: hidden;
    }

    .bg-clouds{
        left: -50px;
        height: 300px;
        background-size: cover;
    }

    .language-selection{
        position: relative;
        left: 20px;
    }
}